## Set ONE of these (the bot accepts several env var names)
TOKENSP=MTQyNTQ5MDE1ODkzMjcyNTgzMg.GU0G5t.3cO_EF6roboblF6K66FaO6FFttT3G6O9hYtFLM
# TOKEN=YOUR_DISCORD_BOT_TOKEN_HERE
# DISCORD_TOKEN=YOUR_DISCORD_BOT_TOKEN_HERE
# DISCORD_BOT_TOKEN=YOUR_DISCORD_BOT_TOKEN_HERE
# BOT_TOKEN=YOUR_DISCORD_BOT_TOKEN_HERE
# GIT_ACCESS_TOKEN=YOUR_DISCORD_BOT_TOKEN_HERE

# Optional
PREFIX=!
